  <div class="img-winner-fond">
    <div class="photo-winner"><img src="{{runnerWinner.photo}}" alt="image"></div>
    <div [ngClass]="runnerWinner.contestId === 1 ? 'img-winner-relai' : 'img-winner-solo'"></div>
    <div class="finish-time">{{runnerWinner.finishTime}}</div>
    <div [ngClass]="runnerWinner.contestId === 1 ? 'bib-relai' : 'bib-solo'">{{runnerWinner.bib}}</div>
    <div [ngClass]="runnerWinner.contestId === 1 ? 'box-noms-relai' : 'box-noms-solo'">
      <div [ngClass]="runnerWinner.contestId === 1 ? 'hidden' : 'name-solo'">{{runnerWinner.lastName}}</div>
      <div [ngClass]="runnerWinner.contestId === 1 ? 'hidden' : 'name-solo'"><em>{{runnerWinner.firstName}}</em></div>
      <div [ngClass]="runnerWinner.contestId === 1 ? 'name-relai' : 'hidden'">{{runnerWinner.lastName}} <em>{{runnerWinner.firstName}}</em></div>
      <div [ngClass]="runnerWinner.contestId === 1 ? 'name-relai' : 'hidden'">{{runnerWinner.lastName2}} <em>{{runnerWinner.firstName2}}</em></div>
    </div>
  </div>
