  <div class="image-fond"></div>

  <div *ngIf="firstM" class="grid-winner-container">
         <div class="grid-winner-item" >{{firstM.currentSplitRank}}</div>
          <div class="grid-winner-item" *ngIf="firstM.bib>=1">{{firstM.bib}}</div>
          <div class="grid-winner-item">{{firstM.lastName}} {{firstM.firstName}}</div>
          <div class="grid-winner-item">{{firstM.swim}}</div>
          <div class="grid-winner-item">{{firstM.transition}}</div>
          <div class="grid-winner-item" >{{firstM.run}}</div>
          <div class="grid-winner-item">{{firstM.finishTime}}</div>
  </div>


  <div  class="grid-colonne-container">
    <ng-container *ngFor="let runner of tableData ">
            <div class="grid-colonne-item" *ngIf="runner.currentSplitRank === -1">-</div>
            <div class="grid-colonne-item" *ngIf="runner.currentSplitRank !== -1">{{runner.currentSplitRank}}</div>
            <div class="grid-colonne-item" *ngIf="runner.bib>=1">{{runner.bib}}</div>
            <div class="grid-colonne-item">{{runner.lastName}} {{runner.firstName}}</div>
            <div class="grid-colonne-item">{{runner.swim}}</div>
            <div class="grid-colonne-item">{{runner.transition}}</div>
            <div class="grid-colonne-item">{{runner.run}}</div>
            <div class="grid-colonne-item">{{runner.finishTime}}</div>
            <div class="grid-colonne-item">{{runner.currentSplitGap}}</div>
    </ng-container>
  </div>
