<div *ngIf="contestId" class="image-fond"
    [ngClass]="{'image-winner' : dataStatus === 'winner-solo'|| dataStatus === 'winner-relai',
                'image-1chrono' : (contestId === 1 || contestId === 3) && dataStatus !== 'winner-solo' && dataStatus !== 'winner-relai',
                'image-2chronos' : contestId === 2}">

    <div [ngClass]="{'box-nom' : dataStatus !== 'winner-solo' && dataStatus !== 'winner-relai',
                    'hidden' : dataStatus === 'winner-solo' || dataStatus === 'winner-relai'}">
        <img [src]="imageLink" alt="Image">
    </div>

    <div class="chrono"
    [ngClass]="{'chronoseul' : contestId === 1 || contestId === 3,
                'chronoH' : contestId === 2,
                'hidden' : dataStatus === 'winner-solo' || dataStatus === 'winner-relai'}">
    </div>

    <div class="chrono"
    [ngClass]="{'chronoF' : contestId === 2 && dataStatus !== 'winner-solo' && dataStatus !== 'winner-relai',
                'hidden' : dataStatus === 'winner-solo' || dataStatus === 'winner-relai' || contestId === 1 || contestId === 3}">
    </div>
<!--
    <div
        [ngClass]="dataStatus === 'winner-solo' ? 'nom-gagnant' : 'hidden'">
        {{lastName}} <em>{{firstName}}</em>
    </div>

    <div
        [ngClass]="dataStatus === 'winner-relai' ? 'nom-gagnantR1' : 'hidden'">
        {{lastName}} <em>{{firstName}}</em>
    </div>

    <div
        [ngClass]="dataStatus === 'winner-relai' ? 'nom-gagnantR2' : 'hidden'">
        {{lastName2}} <em>{{firstName2}}</em>
    </div>

    <div
        [ngClass]="dataStatus === 'winner-solo' || dataStatus === 'winner-relai' ? 'chronofinish' : 'hidden'">
        {{finishTime}}
    </div> -->

</div>

