/* You can add global styles to this file, and also import other style files */
html, body
  margin: 0

@font-face
  font-family: "integralCF"
  src: url("assets/Fonts/IntegralCF-Regular.woff2") format("woff2")

@font-face
  font-family: "integralCF"
  font-weight: bold
  font-style: italic
  src: url("assets/Fonts/IntegralCF-DemiBoldOblique.woff2") format("woff2")

@font-face
  font-family: "integralCF"
  font-weight: bolder
  font-style: italic
  src: url("assets/Fonts/IntegralCF-HeavyOblique.woff2") format("woff2")


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap')

.hidden
  display: none !important