.box-attente
	background-color: #E20714
	position: relative
	border: 0px solid black
	height: 384px
	width: 256px
	margin: 0px

.image-attente-fond
	position: relative
	background-image: url(/assets/Medias/Arche-Attente-Fond.png)
	background-origin: border-box
	background-repeat: no-repeat

.photo-attente-coureur
	position: absolute
	border: 0px solid black
	width: 100%
	bottom: 128px
	left: 0px

.infos-attente
	position: absolute
	background-origin: border-box
	background-repeat: no-repeat
	border: 0px solid black
	height: 256px
	width: 256px
	margin: 0px

.iasolo
	background-image: url(/assets/Medias/Arche-Attente-Solo.png)

.iarelai
	background-image: url(/assets/Medias/Arche-Attente-Relais.png)

.chrono
	color: white
	font-family: "IntegralCF"
	font-size: 25px
	position: relative

.casolo
	margin-top: 6.5px
	margin-left: 12px

.carelai
	margin-top: 0px
	margin-left: 0px
	text-align: center

.bib
	font-family: "IntegralCF"
	font-weight: bold
	font-style: italic
	color: white
	font-size: 30px
	position: absolute
	top: 167px
	left: 12px

.box-username-attente
	position: absolute
	border: 0px solid black
	width: 240px
	height: 45px
	top: 200px
	left: 8px

.username
	font-family: "IntegralCF"
	font-weight: bold
	font-style: italic
	position: relative

.fnasolo
	color: black
	font-size: 20px
	margin-left: 5px
	margin-bottom: -3px

.lnasolo
	color: #E20714
	font-size: 20px
	margin-left: 5px
	font-size: 20px

.fnarelai
	color: black
	font-size: 18px
	margin-left: 3px
	margin-bottom: -3px

.lnarelai
	color: #E20714
	font-size: 18px
	margin-left: 3px
	font-size: 18px

.fnarelai2
	color: black
	font-size: 18px
	text-align: end
	margin-right: 3px
	margin-top: -40px
	margin-bottom: -3px

.lnarelai2
	color: #E20714
	font-size: 18px
	text-align: end
	margin-right: 3px
	margin-left: 5px
