<div *ngIf="spotter && display" class="box-attente image-attente-fond">
    <img class="photo-attente-coureur" [src]="spotter.photo" alt="photo"/>
    <div class="infos-attente"
    [ngClass]="{'iasolo' : spotterStatus === 'finish-solo'|| spotterStatus === 'winner-solo',
                'iarelai' : spotterStatus === 'finish-relai'|| spotterStatus === 'winner-relai'}">
        <!--<div class="chrono"
        [ngClass]="{'casolo' : spotterStatus === 'finish-solo'|| spotterStatus === 'winner-solo',
                    'carelai' : spotterStatus === 'finish-relai'|| spotterStatus === 'winner-relai'}">
                {{spotter.actualtime1}}</div>-->
        <div class="bib">{{spotter.bib}}</div>
        <div class="box-username-attente">
            <div class="username"
            [ngClass]="{'fnasolo' : spotterStatus === 'finish-solo'|| spotterStatus === 'winner-solo',
                        'fnarelai' : spotterStatus === 'finish-relai'|| spotterStatus === 'winner-relai'}">
                    {{spotter.firstName}}</div>
            <div class="username"
            [ngClass]="{'lnasolo' : spotterStatus === 'finish-solo'|| spotterStatus === 'winner-solo',
                        'lnarelai' : spotterStatus === 'finish-relai'|| spotterStatus === 'winner-relai'}">
                    {{spotter.lastName}}</div>
            <div class="username"
            [ngClass]="{'hidden' : spotterStatus === 'finish-solo'|| spotterStatus === 'winner-solo',
                        'fnarelai2' : spotterStatus === 'finish-relai'|| spotterStatus === 'winner-relai'}">
                    {{spotter.firstName2}}</div>
            <div class="username"
            [ngClass]="{'hidden' : spotterStatus === 'finish-solo'|| spotterStatus === 'winner-solo',
                        'lnarelai2' : spotterStatus === 'finish-relai'|| spotterStatus === 'winner-relai'}">
                    {{spotter.lastName2}}</div>
        </div>
    </div>
</div>
