<div  class="box-arrivee" 
[ngClass]="{'image-winner-fond' : data.status === 'winner-solo'|| data.status === 'winner-relai',
            'image-arrivee-fond' : data.status === 'finish-solo'|| data.status === 'finish-relai'}">
    <img 
    [ngClass]="{'photo-winner-coureur' : data.status === 'winner-solo',
                'photo-arrivee-coureur' : data.status === 'finish-solo',
                'photo-arrivee-relai' : data.status === 'finish-relai'|| data.status === 'winner-relai'}" 
    src={{data.photo1}} alt="photo"/>
    <div 
    [ngClass]="{'infos-arrivee-solo' : data.status === 'finish-solo',
                'infos-arrivee-relai' : data.status === 'finish-relai',
                'infos-winner-solo' : data.status === 'winner-solo',
                'infos-winner-relai' : data.status === 'winner-relai'}">
        <div class="chrono"
        [ngClass]="{'chrono-arrivee-solo' : data.status === 'finish-solo',
                    'chrono-arrivee-relai' : data.status === 'finish-relai',
                    'chrono-winner-solo' : data.status === 'winner-solo',
                    'chrono-winner-relai' : data.status === 'winner-relai'}">
        {{data.finishtime1}}</div>
        <div class="rank" 
        [ngClass]="{'rank-arrivee-solo' : data.status === 'finish-solo',
                    'rank-arrivee-relai' : data.status === 'finish-relai',
                    'hidden' : data.status === 'winner-solo'|| data.status === 'winner-relai'}">
                    {{data.rank1}}<sup> eme</sup></div>
        <div class="bib" 
        [ngClass]="{'bib-arrivee-solo' : data.status === 'finish-solo',
                    'bib-arrivee-relai' : data.status === 'finish-relai',
                    'bib-winner-solo' : data.status === 'winner-solo',
                    'bib-winner-relai' : data.status === 'winner-relai'}">
        {{data.bib1}}</div>

        <div class="box-username-arrivee">
            <div class="username"
            [ngClass]="{'firstname-arrivee-solo' : data.status === 'finish-solo',
                        'firstname-winner-solo' : data.status === 'winner-solo',
                        'firstname-arrivee-relai1' : data.status === 'finish-relai'|| data.status === 'winner-relai'}">
            {{data.firstname1}}</div>
            <div class="username" 
            [ngClass]="{'lastname-arrivee-solo' : data.status === 'finish-solo',
                        'lastname-winner-solo' : data.status === 'winner-solo',
                        'lastname-arrivee-relai1' : data.status === 'finish-relai'|| data.status === 'winner-relai'}">
            {{data.lastname1}}</div>
            <div class="username" 
            [ngClass]="{'hidden' : data.status === 'finish-solo' || data.status === 'winner-solo',
                        'firstname-arrivee-relai2' : data.status === 'finish-relai'|| data.status === 'winner-relai'}">
            {{data.firstnameR1}}</div>
            <div class="username" 
            [ngClass]="{'hidden' : data.status === 'finish-solo' || data.status === 'winner-solo',
                        'lastname-arrivee-relai2' : data.status === 'finish-relai'|| data.status === 'winner-relai'}">
            {{data.lastnameR1}}</div>
        </div>
    </div>
</div>
