<div *ngIf="finisher && display" class="box-arrivee"
[ngClass]="{'image-winner-fond' : finnisherStatus === 'winner-solo'|| finnisherStatus === 'winner-relai',
            'image-arrivee-fond' : finnisherStatus === 'finish-solo'|| finnisherStatus === 'finish-relai'}">
    <img
    [ngClass]="{'photo-winner-coureur' : finnisherStatus === 'winner-solo',
                'photo-arrivee-coureur' : finnisherStatus === 'finish-solo',
                'photo-arrivee-relai' : finnisherStatus === 'finish-relai'|| finnisherStatus === 'winner-relai'}"
    [src]="finisher.photo" alt="photo"/>
    <div
    [ngClass]="{'infos-arrivee-solo' : finnisherStatus === 'finish-solo',
                'infos-arrivee-relai' : finnisherStatus === 'finish-relai',
                'infos-winner-solo' : finnisherStatus === 'winner-solo',
                'infos-winner-relai' : finnisherStatus === 'winner-relai'}">
        <div class="chrono" *ngIf="finisher.currentSplitTime"
        [ngClass]="{'chrono-arrivee-solo' : finnisherStatus === 'finish-solo',
                    'chrono-arrivee-relai' : finnisherStatus === 'finish-relai',
                    'chrono-winner-solo' : finnisherStatus === 'winner-solo',
                    'chrono-winner-relai' : finnisherStatus === 'winner-relai'}">
        {{finisher.currentSplitTime}}</div>
        <div class="rank" *ngIf="finisher.currentSplitRank"
        [ngClass]="{'rank-arrivee-solo' : finnisherStatus === 'finish-solo',
                    'rank-arrivee-relai' : finnisherStatus === 'finish-relai',
                    'hidden' : finnisherStatus === 'winner-solo'|| finnisherStatus === 'winner-relai'}">
                    {{finisher.currentSplitRank}}<sup>{{ rankAdjust }} </sup></div>
        <div class="bib"
        [ngClass]="{'bib-arrivee-solo' : finnisherStatus === 'finish-solo',
                    'bib-arrivee-relai' : finnisherStatus === 'finish-relai',
                    'bib-winner-solo' : finnisherStatus === 'winner-solo',
                    'bib-winner-relai' : finnisherStatus === 'winner-relai'}">
        {{finisher.bib}}</div>

        <div class="box-username-arrivee">
            <div class="username"
            [ngClass]="{'firstname-arrivee-solo' : finnisherStatus === 'finish-solo',
                        'firstname-winner-solo' : finnisherStatus === 'winner-solo',
                        'firstname-arrivee-relai1' : finnisherStatus === 'finish-relai'|| finnisherStatus === 'winner-relai'}">
            {{finisher.firstName}}</div>
            <div class="username"
            [ngClass]="{'lastname-arrivee-solo' : finnisherStatus === 'finish-solo',
                        'lastname-winner-solo' : finnisherStatus === 'winner-solo',
                        'lastname-arrivee-relai1' : finnisherStatus === 'finish-relai'|| finnisherStatus === 'winner-relai'}">
            {{finisher.lastName}}</div>
            <div class="username" *ngIf="finisher.firstName2 !== ''"
             [ngClass]="{'hidden' : finnisherStatus === 'finish-solo' || finnisherStatus === 'winner-solo',
                        'firstname-arrivee-relai2' : finnisherStatus === 'finish-relai'|| finnisherStatus === 'winner-relai'}">
            {{finisher.firstName2}}</div>
            <div class="username" *ngIf="finisher.lastName2 !== ''"
            [ngClass]="{'hidden' : finnisherStatus === 'finish-solo' || finnisherStatus === 'winner-solo',
                        'lastname-arrivee-relai2' : finnisherStatus === 'finish-relai'|| finnisherStatus === 'winner-relai'}">
            {{finisher.lastName2}}</div>
        </div>
    </div>
</div>
