        <div  class="box-arrivee image-arrivee-fond">
            <img class="photo-arrivee-coureur" src={{data.photo1}} alt="photo"/>
            <div class="infos-arrivee-solo">
                <div class="chrono chrono-arrivee-solo">{{data.finishtime1}}</div>
                <div class="rank rank-arrivee-solo">{{data.rank1}}<sup> eme</sup></div>
                <div class="bib bib-arrivee-solo">{{data.bib1}}</div>
                <div class="username firstname-arrivee-solo">{{data.firstname1}}</div>
                <div class="username lastname-arrivee-solo">{{data.lastname1}}</div>
            </div>
        </div>
