<div *ngIf="runner" class="box-arrivee"
[ngClass]="{'image-winner-fond' : runnerStatus === 'winner-solo'|| runnerStatus === 'winner-relai',
            'image-arrivee-fond' : runnerStatus === 'finish-solo'|| runnerStatus === 'finish-relai'}">
    <img
    [ngClass]="{'photo-winner-coureur' : runnerStatus === 'winner-solo',
                'photo-arrivee-coureur' : runnerStatus === 'finish-solo',
                'photo-arrivee-relai' : runnerStatus === 'finish-relai'|| runnerStatus === 'winner-relai'}"
    src={{runner.photo}} alt="photo"/>
    <div
    [ngClass]="{'infos-arrivee-solo' : runnerStatus === 'finish-solo',
                'infos-arrivee-relai' : runnerStatus === 'finish-relai',
                'infos-winner-solo' : runnerStatus === 'winner-solo',
                'infos-winner-relai' : runnerStatus === 'winner-relai'}">
        <div class="chrono"
        [ngClass]="{'chrono-arrivee-solo' : runnerStatus === 'finish-solo',
                    'chrono-arrivee-relai' : runnerStatus === 'finish-relai',
                    'chrono-winner-solo' : runnerStatus === 'winner-solo',
                    'chrono-winner-relai' : runnerStatus === 'winner-relai'}">
        {{runner.finishTime}}</div>
        <div class="rank"
        [ngClass]="{'rank-arrivee-solo' : runnerStatus === 'finish-solo',
                    'rank-arrivee-relai' : runnerStatus === 'finish-relai',
                    'hidden' : runnerStatus === 'winner-solo'|| runnerStatus === 'winner-relai'}">
                    {{runner.currentSplitRank}}<sup> eme</sup></div>
        <div class="bib"
        [ngClass]="{'bib-arrivee-solo' : runnerStatus === 'finish-solo',
                    'bib-arrivee-relai' : runnerStatus === 'finish-relai',
                    'bib-winner-solo' : runnerStatus === 'winner-solo',
                    'bib-winner-relai' : runnerStatus === 'winner-relai'}">
        {{runner.bib}}</div>

        <div class="box-username-arrivee">
            <div class="username"
            [ngClass]="{'firstname-arrivee-solo' : runnerStatus === 'finish-solo',
                        'firstname-winner-solo' : runnerStatus === 'winner-solo',
                        'firstname-arrivee-relai1' : runnerStatus === 'finish-relai'|| runnerStatus === 'winner-relai'}">
            {{runner.firstName}}</div>
            <div class="username"
            [ngClass]="{'lastname-arrivee-solo' : runnerStatus === 'finish-solo',
                        'lastname-winner-solo' : runnerStatus === 'winner-solo',
                        'lastname-arrivee-relai1' : runnerStatus === 'finish-relai'|| runnerStatus === 'winner-relai'}">
            {{runner.lastName}}</div>
            <div *ngIf="runnerIsRelais" class="username"
            [ngClass]="{'hidden' : runnerStatus === 'finish-solo' || runnerStatus === 'winner-solo',
                        'firstname-arrivee-relai2' : runnerStatus === 'finish-relai'|| runnerStatus === 'winner-relai'}">
            {{runner.firstName2}}</div>
            <div class="username"
            [ngClass]="{'hidden' : runnerStatus === 'finish-solo' || runnerStatus === 'winner-solo',
                        'lastname-arrivee-relai2' : runnerStatus === 'finish-relai'|| runnerStatus === 'winner-relai'}">
            {{runner.lastName2}}</div>
        </div>
    </div>
</div>
